#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F15     &kp F16     &kp F17
                &kp F18     &kp F19     &kp F20
                            &kp UP
                &kp LEFT    &kp DOWN    &kp RIGHT
            >;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_bootloader {
            timeout-ms = <50>;
            key-positions = <0 9>;
            bindings = <&bootloader>;
        };
    };
};
